
.front-page {
  background-image: image-url("background1.png");
  margin: auto;
  height: 500px;
  width: 100%;
  background-position: center;
}

.greeting-nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Amazon Amber", Arial, sans-serif;
  height: 100px;
  width: 918px;
  min-width: 918px;
}

.logo-browse {
  // padding-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.app-logo {
  width: 150px;
  height: 50px;
  text-decoration: none;
  padding: 20px 20px 20px 0;
  font-size: 40px;
  letter-spacing: -2px;
  color: black;
}

.browse-library {
  text-decoration: none;
  padding-top: 40px;
  margin-bottom: 10px;
  color: black;
  font-size: 13px;

}

.browse-library:hover, .greeting-signin-link:hover {
  text-decoration: underline;
}

.greeting-signin-link, .greeting-signin-link a {
  text-decoration: none;
  color: black;
  padding-top: 15px;
  font-size: 13px;
  margin-bottom: 5px;
}

.listening-try-cloudible {
  font-family: "Amazon Amber", Arial, sans-serif;
  height: 400px;
  // min-width: 1020px;
  // margin: auto;
  // text-align: right;
  // vertical-align: bottom;
}

.under-nav-div {
  min-width: 1020px;
  // margin: auto;
  text-align: left;
  display: flex;
  margin: auto;
}

.land-empty-div {
  width: 300px;
  height: 400px;
  margin-left: none;
}


.slogan {
  height: 200px;
  width: 350px;
  min-width: 400px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 50px;
  // text-align: center;
}

.listening {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 15px;
  color: #212325;
  // text-align: center;
  // text-align: right;
}

.is-the-new-reading {
  font-size: 30px;
  min-width: 200px;
}


.button-try-cloudible-free {
  margin-top: 30px;
  padding: 11px 30px 11px 30px;
  width: 260px;
  font-size: 14px;
  background: #f7991c;
  border: 1px solid orange;
  cursor: pointer;
  // box-shadow: none;
  border-radius: 5px;
  outline: 0;
  text-align: center;

}
