
.greeting-nav {
  display: flex;
  // flex-direction: row;
  justify-content: space-around;
  font-family: "Amazon Amber", Arial, sans-serif;
  background-image: url("background1.png");
  width: 100%;
  height: 500px;
}

.app-logo {
  text-decoration: none;
  padding: 20px;
  font-size: 40px;
  letter-spacing: -2px;
  color: black;
}

.greeting-signin-link, .greeting-signin-link a {
  text-decoration: none;
  color: black;
  padding-top: 15px;
}
