
.front-page {
  background-image: image-url("background1.png");
  height: 500px;
  width: 100%;

}

.greeting-nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Amazon Amber", Arial, sans-serif;
  height: 100px;
  width: 918px;
  min-width: 918px;
}

.logo-browse {
  // padding-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.app-logo {
  width: 150px;
  height: 50px;
  text-decoration: none;
  padding: 20px 20px 20px 0;
  font-size: 40px;
  letter-spacing: -2px;
  color: black;
}

.browse-library {
  text-decoration: none;
  padding-top: 40px;
  margin-bottom: 10px;
  color: black;
  font-size: 13px;

}

.browse-library:hover, .greeting-signin-link:hover {
  text-decoration: underline;
}

.greeting-signin-link, .greeting-signin-link a {
  text-decoration: none;
  color: black;
  padding-top: 15px;
  font-size: 13px;
  margin-bottom: 5px;
}
