.best-sellers, .new-releases, .new-at-audible, .top-books, .coming-soon {
  font-family: "Amazon Amber", Arial, sans-serif;
  color: gray;
  font-size: 20px;
  font-weight: 400;
  margin-left: 100px;
  padding: 15px 0;
  max-width: 1000px;
  margin: auto;
}



.homepage-slider {
  max-width: 1020px;
  min-width: 1020px;
  margin: auto;
  overflow-y: visible;
  margin-bottom: 30px;
}

.index-book-image-link {
  margin: 10px 10px 2px 10px;
  // float: left;
}

.hbook-index-item {
  width: 230px;
  position: relative;
  margin: 8px;
}

.lhomepage-slider {
  max-width: 1000px;
  min-width: 1000px;
  margin: auto;
  height: 320px;
  margin-bottom: 30px;
}


.lbook-small-book-index {
  display: flex;
  flex-wrap: wrap;
}


.hbook-index-item:hover  .hleft-side-drop  .hbook-index-description, .lbook-index-description {
  z-index: 5;
  display: inline;
}

.hindex-book-image-link, .lindex-book-image-link, .lindex-book-small-image-link {
  border-radius: 7px;
  box-shadow: 0px 7px 3px #a9a9aa;
}

.lindex-book-image-link {
  margin-left: 10px;
}



.lindex-book-small-image-link {
  margin-bottom: 15px;
  margin-left: 15px;
  // margin-right: 15px;
}

.hbook-index-item:hover  .hright-side-drop  .hbook-index-description, .lbook-index-description {
  // background: white;
  z-index: 5;
  display: inline;
  // overflow-y: visible;
}

.hleft-side-drop .hbook-index-description, .lbook-index-description {
  position: absolute;
  left: 240px;
  top: 0px;
}

.hright-side-drop .hbook-index-description, .lbook-index-description {
  position: absolute;
  right: 250px;
  top: 0px;
}

.hbook-index-description, .lbook-index-description {
  position: absolute;
  width: 200px;
  height: 330px;
  border: white;
  display: none;
  width: 240px;
  height: 370px;
  border: 1px #dbdee0 solid;
  border-radius: 2px;
  padding: 30px 10px 10px 10px;
  font-family: "Amazon Amber", Arial, sans-serif;
  background-color: #f2f2f7;
  color: #2c2c2d;
  z-index: 100;
}

.hbook-index-title {
  font-size: 19px;
  padding-bottom: 10px;
  font-weight: 700;
}

.hbook-index-format-length {
  display: flex;
  font-size: 12px;
  padding-bottom: 10px;
  color: gray;
  font-weight: 700;
}

.hbook-format {
  padding-right: 3px;
}

.hbook-index-author-line,
.hbook-index-narrator-line {
  display: flex;
  font-size: 13px;
  padding-bottom: 10px;
}

.hbook-index-by,
.hbook-index-narrator {
  // font-weight: 700;
  padding-right: 3px;
}

.hbook-index-author, .hbook-index-narrator-name {
  font-weight: 700;
}

.hbook-index-summary {
  font-size: 13px;
  padding-top: 10px;
}
