.book-index {
  display: flex;
  justify-content: center;
  background: #f6f7f7;
}

.book-index-list {
  // display: flex;
  // justify-content: center;
  padding-top: 15px;
  // padding-bottom: 20px;
  max-width: 1020px;
  min-width: 1020px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;

}

.book-index-description {
  display: none;

}

.index-book-image-link {
  margin: 10px 10px 2px 10px;
  // float: left;
}

.book-index-outside-narrator {
  width: 150px;
  height: 50px;
  font-family: "Amazon Amber", Arial, sans-serif;
  font-size: 13px;
  margin: 0 10px 10px 10px;
  border: 1px solid white;
  background: white;
  padding: 5px;
  color: gray;
  font-weight: 700;
}

.book-index-item {
  width: 150px;
  height: 100px;
  margin: 10px;
}
