.library-library {
  font-family: "Amazon Amber", Arial, sans-serif;
  color: #f45d26;
  padding-bottom: 20px;
  padding-left: 190px;
}

table {
  margin: auto;
  // text-align: center;
}

thead th {
  font-weight: 700px;
}

table, thead th, tbody td {
  border: 1px solid white;
  font-family: "Amazon Amber", Arial, sans-serif;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  min-width: 100px;
}

td:last-child {
  width: 200px;
}

th {
  background-color: #dedede;
  height: 69px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.library-rating-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

}

.library-rating-type {
  display: flex;
  justify-content: space-between;
}

.library-rating-type-name {
  padding: 5px 0 0 5px;
  color: gray;
  font-weight: bold;
}

.library-rating-just-stars {
  color: #e84f27;
  font-size: 15px;
  padding-right: 5px;
  // unicode-bidi: bidi-override;
  // // direction: rtl;
}

// .library-rating-just-stars:nth-child(even) {
//   color: blue;
// }

// .library-rating-line {
//   padding: 3px;
// }

// .library-rating-stars:hover {
//   color: #e84f27;
// }

.library-rating-just-stars > .fa.fa-star, .fa.fa-star-o {
  padding: 1.5px;
  display: inline-block;
  position: relative;
  // position: relative;
}

// .library-rating-just-stars > .fa.fa-star:hover:before,
// .library-rating-just-stars > .fa.fa-star:hover ~ .fa.fa-star:before {
//   // color: blue;
//   content: "\f006";
//   // position: absolute;
//   // content: "\f006"
// }
//
// .library-rating-just-stars > .fa.fa-star-o:hover:before,
// .library-rating-just-stars > .fa.fa-star-o:hover ~ .fa.fa-star:before {
//   // color: blue;
//   content: "\f006";
//   // position: absolute;
//   // content: "\f006"
// }

// .library-rating-stars i:hover {
//   background-color: orange;
// }
