// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-form {
  width: 296px;
  height: 384px;
  border: 1px #e6e6e6 solid;
  padding: 30px;
};

.session-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Amazon Amber", Arial, sans-serif;

}

.session-logo {
  font-size: 40px;
  padding: 20px;
  letter-spacing: -2px;
}

.session-errors {
  font-size: 13px;
  color: #c40000;
  border: 1px solid #c40000;
  width: 296px;
  padding: 30px;
  margin-bottom: 10px;
  list-style-type: disc;
  line-height: 1.8;
}

.session-label {
  // font-family: "Amazon Amber", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.session-input {
  margin-bottom: 14px;
  padding: 15px;
  height: 40px;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
}

.session-input:focus {
  box-shadow: 0 0 2px 2px #f7991c;
}

.session-input-name {
  padding: 4px 0 4px 0;
}

.session-submit-button {
  padding: 10px 30px 10px 30px;
  width: 100%;
  font-size: 14px;
  background: #f7991c;
  border: 1px solid #f7991c;
  cursor: pointer;
  // box-shadow: none;
  outline: 0;
}

.session-submit-button:hover {
  background-color: orange;
}

.session-division-new {
  display: flex;
  margin-top: 25px;
}

.session-divider {
  width: 27%;
  height: 0;
  background-color: orange;
  color: orange;
  border-color: #e6e6e6;
 }

.session-new-to-cloud {
  display: flex;
  justify-content: center;
  padding-left: 7px;
  padding-right: 8px;
  // margin-top: 25px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: gray;
}

.sign-up-link {
  display: flex;
  justify-content: center;
  padding: 14px 0 14px 0;
  width: 100%;
  text-align: center;
  color: black;
  background-color: #e6e6e6;
  text-decoration: none;
  margin-top: 10px;
  // font-family: "Amazon Amber", Arial, sans-serif;
  font-size: 15px;
}

.sign-up-link:hover {
  background-color: #f2f2f2;
}

.session-already-have-account {
  // font-family: "Amazon Amber", Arial, sans-serif;
  font-size: 13px;
  padding-top: 25px;
  margin-top: 25px;
  // border-top: 1px solid #e6e6e6;
  box-shadow: inset 0 7px 7px -7px #e6e6e6;
}

.sign-in-link {
  text-decoration: none;
}

.session-form-type {
  // font-family: "Amazon Amber", Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
