.user-profile {
  font-family: "Amazon Amber", Arial, sans-serif;
  width: 1020px;
  margin: auto;
  // text-align: center;
}
.user-pic-reviews {
  display: flex;
  color: #cccccc;
}

.user-upload-photo {
  display: flex;
  flex-direction: vertical;
}

.user-image {
  object-fit: cover;
}

// .fa .fa-camera {
//   padding-right: 3px;
// }

.user-photo-upload i {
  padding-right: 13px;
}

.user-photo-upload:hover {
  cursor: pointer;
}

.user-upload-photo input {
  display: none;
}

.user-photo-upload {
  font-size: 11px;
  color: #666666;
  // text-align: center;
  // width: 91;
  border: 1px solid #666666;
  padding: 3px 8px;
}

.user-pic-description {
  display: flex;
  padding-left: 10px;
}

.user-description {
  padding-left: 15px;
}

.user-first-name {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}

.listener-since {
  font-size: 13px;
  font-family: Georgia, Arial, sans-serif;
  padding-top: 20px;
}

.user-profile-my-reviews {
  padding-top: 10px;
}

.user-create-my-profile {
  font-size: 13px;
}

.user-profile-reviews {
  padding-top: 40px;
}

.user-profile-my-reviews-title {
  color: gray;
}

.user-profile-book-title {
  display: flex;
  flex-direction: column;
}

.user-profile-book-image {
  padding-right: 20px;
}

.user-profile-book-title {
  font-size: 14px;
  font-weight: 700;
}

.user-profile-unabridged {
  font-size: 13px;
  padding: 5px 0 20px 0;
}

.user-profile-book-author, .user-profile-book-narrator {
  font-size: 14px;
  padding-bottom: 3px;
}

.user-profile-single-review {
  padding: 10px 0 50px 0;
  border-bottom: 1px dashed #cccccc;
  display: flex;
}

.user-profile-ratings-review {
  font-family: Times;
}

.user-profile-review-title {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 5px;
}

.user-profile-ratings {
  display: flex;
  padding-left: 15px;
}

.user-profile-rating {
  font-family: "Amazon Amber", Arial, sans-serif;
  font-size: 13px;
  display: flex;
}

.book-show-rating-just-stars {
  color: #e84f27;
  font-size: 15px;
  padding: 0 10px;
}

.book-show-rating-just-stars > .fa.fa-star, .fa.fa-star-o {
  padding: 1.5px;
  display: flex;
  // position: relative;
}
