.user-profile {
  font-family: "Amazon Amber", Arial, sans-serif;
  width: 1020px;
  margin: auto;
  // text-align: center;
}
.user-pic-reviews {
  display: flex;
  color: #cccccc;
}

.user-upload-photo {
  display: flex;
  flex-direction: vertical;
}

// .fa .fa-camera {
//   padding-right: 3px;
// }

.user-photo-upload i {
  padding-right: 13px;
}

.user-upload-photo input {
  display: none;
}

.user-photo-upload {
  font-size: 11px;
  color: #666666;
  // text-align: center;
  // width: 91;
  border: 1px solid #666666;
  padding: 3px 8px;
}

.user-pic-description {
  display: flex;
  padding-left: 10px;
}

.user-description {
  padding-left: 15px;
}

.user-first-name {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}

.listener-since {
  font-size: 13px;
  font-family: Georgia, Arial, sans-serif;
  padding-top: 20px;
}

.user-create-my-profile {
  font-size: 13px;
}
